<!-- Start footer -->
<footer class="custom-footer bg-dark py-5 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 mt-4 text-center text-lg-start">
                <div>
                    <img src="assets/images/iconoelectra.png" alt="logo light" height="150">
                </div>
            </div>
            <div class="col-lg-8 mt-4">
                <h2 class="text-black text-center" style="font-size: 3rem; margin-bottom: 20px; font-family: 'arial narrow', cursive;">ELECTRA</h2>
                <p class="text-muted text-center">Somos una empresa nueva dedicada a la venta de artículos de electrónica computacional. Ofrecemos una amplia variedad de productos de alta calidad, desde accesorios y módulos hasta discos duros y memorias RAM. En ELECTRA, nos comprometemos a brindar a nuestros clientes tecnología de vanguardia y un servicio excepcional, asegurando que cada compra sea una experiencia satisfactoria. ¡Descubre el futuro de la electrónica con nosotros!</p>
                <p class="copy-rights text-center mb-0" style="margin-top: 20px;">
                    {{year}} © ELECTRA - Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->


