<header id="page-topbar" data-scroll-header (window:scroll)="windowScroll()">
    <div class="layout-width">
        <div class="navbar-header d-flex justify-content-between">
            <!-- Espacio vacío o elementos opcionales en el lado izquierdo si es necesario -->
            <div class="d-flex align-items-center justify-content-end" style="width: 100%;">
                <div class="dropdown header-item topbar-user" ngbDropdown>
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="d-flex align-items-center">
                            <span class="text-end me-2">
                                <!-- Cambiamos el nombre del usuario por "Sesión iniciada" -->
                                <span class="d-none d-xl-inline-block me-1 fw-medium user-name-text">Sesión iniciada</span>
                            </span>
                            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-8.jpg" alt="Avatar de usuario">
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <h6 class="dropdown-header">¡Bienvenido!</h6>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="logout()">
                            <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i>
                            <span class="align-middle" data-key="t-logout">Cerrar sesión</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
