.product-card {
    border: 2px solid#32c348;  /* Borde que separa cada producto */
    border-radius: 10px;  /* Opcional: redondear las esquinas del borde */
    padding: 15px;  /* Espacio interno dentro de cada tarjeta */
    text-align: center;
    
    transition: transform 0.3s ease-in-out;
    margin-bottom: 15px;  /* Espacio externo entre productos */
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h5 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-card p {
    font-size: 14px;
}

.product-card .price {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
}
