<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Creación de Producto</title>
    
  </head>
  <body>
    <div class="form-container">
      <h2>Crear Producto</h2>
      <form action="/crear-producto" method="POST">
        <!-- Nombre del Producto -->
        <div class="form-group">
          <label for="nombre">Nombre del Producto:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>

        <!-- Descripción del Producto -->
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea
            id="descripcion"
            name="descripcion"
            rows="6"
            required
          ></textarea>
        </div>

        <!-- Precio del Producto -->
        <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" step="0.01" required />
        </div>

        <!-- Categoría del Producto -->
        <div class="form-group">
          <label for="categoria">Categoría:</label>
          <select id="categoria" name="categoria" required>
            <option value="">Seleccione una categoría</option>
            <option value="Equipos">Equipos</option>
            <option value="Componentes PC">Componentes PC</option>
            <option value="Almacenamiento">Almacenamiento</option>
            <option value="Accesorios">Accesorios</option>
          </select>
        </div>

        <!-- Botón de Enviar -->
        <div class="form-group">
          <input type="submit" value="Crear">
      </div>
      </form>
    </div>
  </body>
</html>
