<div class="row">
    
  
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Listar usuarios</h4>
            </div><!-- end card header -->
  
            <div class="card-body">

                <div class="row">
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                    <div class="col-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum distinctio aspernatur atque maxime saepe velit eligendi debitis illo, enim ex dicta veniam consequuntur dolorem voluptate, ut quae sed neque pariatur?</div>
                </div>
             
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
  </div>  
